@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(93.46% 0.0305 255.11);
	--secondary-background: oklch(100% 0 0);
	--foreground: oklch(0% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(67.47% 0.1726 259.49);
	--border: oklch(0% 0 0);
	--ring: oklch(0% 0 0);
	--overlay: oklch(0% 0 0 / 0.8);
	--shadow: 2px 2px 0px 0px var(--border);
	--chart-1: #5294ff;
	--chart-2: #ff4d50;
	--chart-3: #facc00;
	--chart-4: #05e17a;
	--chart-5: #7a83ff;
	--chart-active-dot: #000;
	--radius: 5px;
}

.dark {
	--background: oklch(29.23% 0.0626 270.49);
	--secondary-background: oklch(23.93% 0 0);
	--foreground: oklch(92.49% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(67.47% 0.1726 259.49);
	--border: oklch(0% 0 0);
	--ring: oklch(100% 0 0);
	--shadow: 2px 2px 0px 0px var(--border);
	--chart-1: #5294ff;
	--chart-2: #ff6669;
	--chart-3: #e0b700;
	--chart-4: #04c86d;
	--chart-5: #7a83ff;
	--chart-active-dot: #fff;
}

@layer base {
	body {
		@apply text-foreground bg-background;
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 800;
	}
}

@layer components {
	.font-base {
		font-weight: 500;
	}

	.font-heading {
		font-weight: 800;
	}
}
